main{

    width: 100%;
    height: calc(100vh - 60px);
}

aside{

    width: 260px;
    height: auto;
    background-color: #18181b;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
    margin-top: 40px;
    position: absolute;

}

.studio-option{

    background-color: transparent;
    border: none;
    padding: 20px 0 20px 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.studio-option i{

    width: 35px;
    font-size: 20px;
    margin-right: 12px;

}

.studio-page{

    display: none;
    width: calc(100% - 260px);
    height: 100%;
    align-items: flex-end;
    flex-direction: column;

}

.studio-page-section{

    width: 750px;
    display: flex;
    align-items: center;
    padding: 50px 0 0 150px;

}

.profile-basics{

    align-items: flex-start;
    flex-direction: column;

}

.profile-aditional{

    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;

}

.podcast-picture{

    width: 120px;
    height: 120px;
    font-size: 80px;
    border: 1px solid white;
    border-radius: 50%;
    margin-bottom: 50px;
    color: white;
    padding: 20px;
    cursor: pointer;

}

.podcast-name-div{

    cursor: pointer;
    display: flex;

}

.fa-edit{

    color: white;

}

.studio-page input, .studio-page textarea{

    padding: 10px;
    border: none;
    background-color: #464649;
    color: #8b8b8d;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;

}
.studio-page input:focus, .studio-page textarea:focus{
    outline: 1px solid #9552fa;
    background-color: black;
    transition: background-color .5s;
}

.studio-page input{

    margin-bottom: 20px;

}

.studio-page textarea{

    width: 600px;
    height: 280px;
    resize: none;

}

.tags{

    width: 400px;

}

.profile-buttons{

    padding-top: 20px;

}

.buttons{

    margin-left: auto;

}

.buttons button{

    padding: 10px;
    color: white;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;

}

.confirm-profile{background-color: #9552fa;}
.cancel-profile{background-color: #464649;}

.my-podcasts{

    padding-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;

}